<div class="w-75 d-flex flex-column p-3">
  <h2 class="mt-5">Data Kerusakan</h2>
  <div class="mt-2 d-flex flex-column">
    <a href="/admin/add/rusak" class="btn btn-primary align-self-end"
      >Tambah data</a
    >
    <div class="tableFixHead mt-2">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">ID kerusakan</th>
            <th scope="col">Nama Kerusakan</th>
            <th scope="col">Solusi Kerusakan</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <% hasil.forEach((data,i) => { %>
          <tr>
            <th><%-i+1 %></th>
            <th><%- data.id_rusak %></th>
            <td><%- data.nama_rusak %></td>
            <td
              style="width: 200px; max-height: min-content"
              class="text-justify"
            >
              <% if(data.solusi.length>50){ %> <%= data.solusi.slice(0,50) %>
              ... <% } else{ %> <%- data.solusi %> <% } %>
            </td>
            <td>
              <div class="d-flex justify-content-evenly">
                <a
                  href="/admin/edit/rusak/<%- data.id_rusak %> "
                  class="btn btn-success"
                  class="mr-2"
                  >Ubah</a
                >
                <form
                  method="POST"
                  action="/admin/remove/rusak/<%- data.id_rusak %> "
                >
                  <button class="btn btn-danger">Hapus</button>
                </form>
              </div>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
</div>
